<div style="text-align:center">
    
  <h1>Home Page</h1>

  <%= render 'navigation_links' %>
    
  <%= image_tag 'stock.jpg' %>
    
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non suscipit enim. Duis neque magna, dictum vel vestibulum et, mattis et orci. Aliquam non tempus nibh. Cras quis risus leo. Duis ac ex ultricies, vehicula magna vitae, eleifend mauris. In scelerisque aliquet dapibus. Cras ante turpis, ultrices vitae fringilla ut, porta ac magna. Quisque quis aliquam sapien. Nam aliquet scelerisque purus sed tincidunt. Proin neque enim, pulvinar viverra suscipit eu, molestie vitae diam. Nullam pellentesque nisi nulla, ac porttitor est maximus at. Sed euismod sodales laoreet. Integer sit amet convallis lacus. Duis auctor neque id imperdiet ullamcorper. Sed vitae maximus mi. Sed hendrerit nibh sit amet eleifend malesuada.
  </p>
    
</div>
