$navbar-default-bg: #9AB19B;

@import "bootstrap-sprockets";
@import "bootstrap";

/* Site-wide */
 
body {
  background-color: #eee;
}

.center {
  text-align: center;
}

ul {
  margin: 0;
}

/* Navbar */

.navbar {
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #333;
}

.navbar-default .navbar-nav > li > a {
  color: #555;
}

#logo {
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}


/* Buttons */

.btn-lg {
  font-size: 1.4em;
}

.btn-custom {
  background-color: #9AB19B;
  color: #445;
  border-color: darken(#9AB19B, 30%);
}

.btn-custom:hover {
  background-color: darken(#9AB19B, 15%);
  color: #FFF;
  
}

.btn-custom:active {
  background-color: darken(#9AB19B, 30%);
}

.btn-warning {
  color: #445;
}

.btn-danger {
  color: #110;
}

/* Alerts/Flashes */

.alert {
  margin-bottom: 0px;
}

.close {
  align-items: center;
}

/* Home Page */
 
.jumbotron {
  background-image: asset-url("geometric.jpg");
  background-size: 100%;
  //width: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #223;
  margin-bottom: 40px;
  letter-spacing: -2px;
  font-weight: bold;
}

#homep {
  max-width:800px;
  margin: 0 auto;
  color: #555;
  text-align: justify;
  text-indent: 10px;
  padding: 5px;
}

/* Article Index */

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #223;
}

.article-body {
  border-top: 1px solid #888;
  padding: 10px 0px;
}

/* Show Article */

hr {
  margin: 10px 0px;
}

.article-actions {
  padding-top: 10px;
  border-top: 1px solid #888;
}

.article-actions a {
  margin-right: 5px;
}

.description {
  margin-top: 0;
}

/* Footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid;
  color: #888;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 5px;
}
