$navbar-default-bg: #9AB19B;

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #eee;
}

.navbar-default .navbar-brand {
  color: #333;
}

.navbar-default .navbar-nav > li > a {
  color: #555;
}

#logo {
  float: left;
  font-size: 1.7em;
  //color: #FFF;
  //text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("geometric.jpg");
  background-size: 100%;
  //width: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #223;
  margin-bottom: 40px;
  letter-spacing: -2px;
  font-weight: bold;
}

.btn-lg {
  font-size: 1.4em;
  background-color: #9AB19B;
  color: #445;
  border-color: #223;
}

.btn-lg:hover {
  background-color: darken(#9AB19B, 15%);
}

.btn-lg:active {
  background-color: darken(#9AB19B, 30%);
}


#homep {
  max-width:800px;
  margin: 0 auto;
  color: #555;
  text-align: justify;
  text-indent: 10px;
  border-color: #555;
  //border-style: solid;
  //border-width: 1px 0px 0px 0px;
  padding: 5px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
  color: #888;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 5px;
}