$navbar-default-bg: #9AB19B;

@import "bootstrap-sprockets";
@import "bootstrap";

/* Site-wide */
 
body {
  background-color: lighten(#9AB19B, 25%);
}

.center {
  text-align: center;
}

ul {
  margin: 0;
}

h1, h2 {
  margin: 10px 0px;
}

.no-top-margin{
  margin-top: 0px;
}

.well {
  padding: 15px;
}

.well.well-lg {
  padding: 15px 20px;
}

div.pagination {
  margin: 0px;
}

ul.pagination {
  margin: 5px;
}

/* Navbar */

.navbar {
  border-radius: 0px;
  margin-bottom: 10px;
}

.navbar-default .navbar-brand {
  color: #333;
}

.navbar-default .navbar-nav > li > a {
  color: #555;
}

#logo {
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}

.dropdown-menu .divider {
  margin: 5px 0px;
}

/* Buttons */

.btn-lg {
  font-size: 1.4em;
}

.btn-custom {
  background-color: #9AB19B;
  color: #445;
  border-color: darken(#9AB19B, 30%);
}

.btn-custom:hover {
  background-color: darken(#9AB19B, 15%);
  color: #FFF;
  
}

.btn-custom:active {
  background-color: darken(#9AB19B, 30%);
  color: #FFF;
}

.btn-warning {
  color: #445;
}

.btn-danger {
  color: #110;
}

/* Alerts/Flashes */

.alert {
  margin-bottom: 10px;
}

.close {
  align-items: center;
}

/* Home Page */
 
.jumbotron {
  background-image: asset-url("geometric.jpg");
  background-size: 100%;
  //width: cover;
  height: 300px;
}

.jumbotron h1 {
  margin-top: 20px;
  color: #223;
  margin-bottom: 40px;
  letter-spacing: -2px;
  font-weight: bold;
}

#homep {
  max-width:800px;
  margin: 0 auto;
  color: #555;
  text-align: justify;
  text-indent: 30px;
  padding: 5px;
}

/* Article Index */

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #888;
  padding: 5px 0px;
}

.article-meta-details {
  border-top: 1px solid #888;
  margin-top: 10px;
  padding-top: 5px;
}

/* Show Article */

hr {
  margin: 10px 0px;
  border-color: #888;
}

.article-actions {
  padding-top: 5px;
  border-top: 1px solid #888;
}

.article-actions a {
  margin-right: 5px;
}

.description {
  margin-top: 0;
}

/* User Index */

.listing {
  list-style: none;
  padding-left: 0;
}

.listing li {
  margin-bottom: 5px;
}

.listing li.last {
  margin-bottom: 0px;
}

/* Footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid;
  color: #888;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 5px;
}