<div class="container">
  <footer class="footer">
    <small>
      &copy; David Lowndes, 2016
    </small>
    <nav>
      <ul>
        <li>filler</li>
        <li>|</li>
        <li><%= link_to 'about', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>